<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847246832445-acmhr90nvnammrl0n2a6n6hq5noiiaqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847246832445-acmhr90nvnammrl0n2a6n6hq5noiiaqj</string>
	<key>API_KEY</key>
	<string>AIzaSyD2wIu_q7TXEiWJBRX5ogcEkn5jWhSvNOs</string>
	<key>GCM_SENDER_ID</key>
	<string>847246832445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masonewingcorp.eppFilm</string>
	<key>PROJECT_ID</key>
	<string>mason-ewing-corporation</string>
	<key>STORAGE_BUCKET</key>
	<string>mason-ewing-corporation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847246832445:ios:940be5fa77c3ad08d70b54</string>
</dict>
</plist>